<div class="container">
		<div class="center jumbotron">
		<h1>Heading</h1>

		<h2>oidwa ijs daoij doijaoijsda oijasd asd asoijdaosi dosai ndsaoi ndsaoin</h2>

		<%= link_to "Sign up now", "", class: "btn btn-lrg btn-success" %>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<h3 class="midrow">Heading</h3>
			<h2 class="left">Thingomobobioasdoisadoin words words words words</h2>
			<p><%= link_to "Browse things", "", class: "btn btn-warning btn-small" %></p>
		</div>
		<div class="col-lg-4">
			<h3 class="midrow">Heading</h3>
			<h2 class="left">Thingomobobioasdoisadoin words words words words</h2>
			<p><%= link_to "Browse things", "", class: "btn btn-warning btn-small" %></p>
		</div>
		<div class="col-lg-4">
			<h3 class="midrow">Heading</h3>
			<h2 class="left">Thingomobobioasdoisadoin words words words words</h2>
			<p><%= link_to "Browse things", "", class: "btn btn-warning btn-small" %></p>
		</div>
	</div>
</div>