<header class="navbar navbar-fixed-top navbar-default">
	<div class="container">
		<%=	link_to "Home", root_path, class: "btn btn-lrg btn-success", id: "logo" %>
    <%=	link_to "Conferences", conferences_path, class: "btn btn-lrg btn-success", id: "logo" %>
    <%=	link_to "New Conference", new_conference_path, class: "btn btn-lrg btn-success", id: "logo" %>
		<%= link_to "Sign up", "", class: "btn btn-lrg btn-success" %>
	</div>
</header>
